# <h1> "Please select the section of the zoo you work in." </h1>

# <% @sections.each do |section| %>
#     <%= link_to section.name, section_path(section) %>
#     <% end %>

# <h2> "If you are working in a section not listed, click on the link to create a new section." </h2>
# <%= link_to new_section_path %>

