<h1>'Welcome to the Natural Environment for Animals in Zoos WorkStudy.'</h1>



<% if current_user %>
    <h1>You are Logged In: </h1>
    <%= link_to current_user.username, user_path(current_user) %>
<%end%>


<h2> 'If you are a current zoo caregiver, please login.' </h2>
<%= link_to "Login", '/login' %> 


<%= button_to "Sign in with Google", "/auth/google_oauth2" %>
<%= link_to "Create an Account", new_user_path %>
  



