<p id="notice"><%= notice %></p>

<h1>Reports from all Zookeepers</h1>
<br>

<br>
<table>
  <thead>
    <tr>
      
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>

<%= render partial: 'reports', locals: {report: report} %>
 <% end %>
  </tbody>
</table>



  <%= link_to 'Back to User Account', [@user] %>
  <br>
 
       
  </tr>
</table>

<br>

<%= link_to 'New Report', new_user_report_path(@user) %>