<h1> Reports already submitted on <%= @animal.name %> </h1>


 Health Rating: <%= @animal.health_rating %><br>
 <% @animal.reports.each do |report| %>

    <%= render partial: 'reports', locals: {report: report} %>
     <% end %>
<br>
 <%= link_to "Back to species index",  animals_path %>
 <br> 